@import "tailwindcss";

@theme {
  --color-background: #0B0F19;
  --color-surface: #171D2D;
  --color-surface-hover: #20293D;
  --color-primary: #66C0F4;
  --color-secondary: #1B2838;
  --color-accent: #00A8FF;
  --color-text-main: #FFFFFF;
  
  --font-geist: 'Geist', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-geist);
}
